{

"server":"ExternalIP",

"server_port":Port,

"local_port":1050,

"password":"Password",

"timeout":86400,

"method":"chacha20-ietf-poly1305",

"plugin":"obfs-local",

"plugin_opts":"obfs=tls;failover=5.255.255.80:443"

}
