{

"server":"ExternalIP",

"mode":"tcp_and_udp",

"server_port":Port, 

"password":"Password",

"timeout":86400,

"method":"chacha20-ietf-poly1305",

"plugin":"obfs-server",

"plugin_opts":"obfs=tls;failover=5.255.255.80:443"

}
